<% layout('layouts/boilerplate') %>
<body>
     <h3>Edit Listing</h3>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" name="listing[title]" placeholder="Title" value="<%= listing.title %>" required><br>
        <textarea name="listing[description]" placeholder="Description" required><%= listing.description %></textarea><br>
        <input type="text" name="image[url]" placeholder="Enter image URL" value="<%= listing.image?.url || '' %>"> <br>
         <input type="number" name="listing[price]" placeholder="Price" value="<%= listing.price %>" required><br>
        <input type="text" name="listing[location]" placeholder="Location" value="<%= listing.location %>" required><br>
        <input type="text" name="listing[country]" placeholder="Country" value="<%= listing.country %>" required><br>
        <button>Edit Listing</button>
    </form>
</body>
